body {
	font-family: Arial, sans-serif;
	color: white;
	background-color: black;
}

h1 {
	font-size: 36px;
	color: pink;
	font-weight: bold;
	line-height: 1.2;
	letter-spacing: 1px;}
h2 {
	font-size: 32px;
	color: palevioletred;
	font-weight: bold;
	line-height: 1.3;
	letter-spacing: 0.5px;}
h3 {
	font-size: 28px;
	color: hotpink;
	font-weight: normal;
	line-height: 1.4;
	letter-spacing: 0.5px;}
h4 {
	font-size: 24px;
	color: lightpink;
	font-weight: normal;
	line-height: 1.4;
	letter-spacing: 0.2px;}
h5 {
	font-size: 20px;
	color: deeppink;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: 0.2px;}
h6 {
	font-size: 18px;
	color: mediumvioletred;
	font-weight: normal;
	line-height: 1.5;
	letter-spacing: 0.1px;}

p {
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: hotpink;
	text-decoration: none;
}
	a:hover { color: deeppink; }
	a:active { color: pink; }

button,
.btn-primary {
	background-color: pink;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
}
	button:hover,
	.btn-primary:hover {
		background-color: hotpink; }

	button:active,
	.btn-primary:active {
		background-color: deeppink;}


.about,
.resume,
.portfolio {
	padding: 30px;
	margin-bottom: 30px;
	border: 1px solid pink;
	border-radius: 10px;
}

.header { background-color: lightpink; }

.footer {
	background-color: hotpink;
	color: white;
	text-align: center;
	padding: 15px;
}
	.footer a,
	.footer a:hover { color: black !important; }

#scroll-top {
	background: magenta;
	color: white;
	border-radius: 50%;
}

	#scroll-top:hover {
		background: magenta;
	}

ol {
	counter-reset: skaicius;
	list-style: none;
	padding-left: 0;
}

	ol li {
		counter-increment: skaicius;
		margin-left: 20px;
	}

		ol li::before {
			content: counter(skaicius) ". ";
			color: hotpink;
			font-weight: bold;
		}

ul {
	list-style: none;
	padding-left: 0;
}

	ul li { margin-left: 20px; }

		ul li::before {
			content: "\2022";
			color: deeppink;
			font-weight: bold;
			margin-right: 6px;
		}

.services table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.services th {
	background-color: pink;
	color: black;
	padding: 10px;
}

.services td {
    background-color: mistyrose;
    color: black;
    padding: 10px;
    border: 1px solid lightpink;
}

.services tr:nth-child(even) {
	background-color: lavenderblush;
}

.services tr:hover {
	background-color: lightpink;
	color: white;
}

:root {	--accent-color: red !important; }